package com.multunus.one_mdm_client;

public class Config {

	public static final String SERVER = "http://onemdm.herokuapp.com/";
	public static final long HEARTBEAT_INTERVAL = 60; // Seconds
	public static final String BUGSNAG_API_KEY = "02b9344da688654c30c2877a1f7b93c6";

}
